@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}

.navbar h1 {
  color: rgb(45, 236, 173);
}

.navbar links a {
  margin-left: 10;
}

.navbar .links a {
  margin-right: 20px;
}

.navbar .links a:last-child {
  margin-right: 0;
}

.navbar .links a:hover {
  color: rgb(45, 236, 173);
}

.navbar-brand {
  font-weight: 700;
  font-size: 24px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}
.example {
  margin: 20px;
}

h1 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 400; /* Regular */
}

.content {
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
}
